[Desktop Entry]
Version=1.0
Type=Application
Exec=obsession-logout
Icon=system-shutdown
StartupNotify=false
Terminal=false
Categories=System;
Name=Exit
Comment=Exit from the Openbox Desktop