[Desktop Entry]
Comment[en_US]=
Comment=
Exec=sh -c "cloudify libreoffice"
GenericName[en_US]=
GenericName=
Icon=cloudlibre
MimeType=
Name[en_US]=Cloudlibre
Name=Cloudlibre
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
